<div class="resumen-rectangulo custom-font">
    <h4 class="titulos custom-font-title">Resumen</h4>
    <p><strong>Origen:</strong> Veracruz, Ver.</p>
    <p><strong style="font-weight: bold;">Destino:</strong> {{destino}}</p>
    <p><strong style="font-weight: bold;">Caracteristicas:</strong> LARGO: {{medidas.largo}} , ANCHO: {{medidas.ancho}} , ALTO: {{medidas.alto}} , PESO: {{caracteristicas}} </p>
    <p><strong style="font-weight: bold;">No referencia / Correo / Cotización:</strong> {{referencias}}</p>
    

    <div class="d-grid justify-content-md-end">
        <button class="btn btn-primary" (click)="descargarPDF()">Generar Cotizacion</button>
    </div>
</div>
