.titulos {
    text-align: center;
   
}
.select{
    display: flex;
    margin-bottom: 5em;
    margin: 2em;
}
.btn-primary {
    background-color: #002e5d;
    border: #002e5d 1px solid;
    margin-top: 1em;
  }
  .btn-primary:hover {
    background-color: #1C4C96;
  }
.resumen-rectangulo {
  padding: 15px; 
  border: 1px solid red; 
  border-radius: 5px; 
  margin-top: 1em;
}

.strong {
  font-weight: bold;
}
.negritas {
  color: black;
  font-weight: 550;

}
.dynamic-text {
  font-weight: bold;
}
.modal-dialog {
  margin-top: 12em;
}
.red-color {
  color: red;
  cursor: pointer;
  justify-self: end;
}
.pieza-cotizar {
  padding: 1rem;
  background-color: #f0f0f0;
  border: #1C4C96 solid 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 90% 10%;
}
.pieza1 {
   font-size: 20px ;
}
.pieza2 {
  font-size: 20px ;
  margin-right: 3em;
}
