<div class="container">
  <h2 class="header">HEADER</h2>
  <div class="row padre login">
    <div class="">
      <label for="inputUsername">Usuario</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="correo@mail.com">
    </div>
    <div class="">
      <label for="input">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Contrseña">
    </div>
    <div class="">
      <button type="button" class="btn btn-primary col-12" (click)="Login()">Login</button>
    </div>
  </div>
</div>