
.login {
    background-color: #cadffb;
    border-radius: 5px;
}
.container {
  /* background-color: #cadffb; */
}
  .padre { 
  height: 20rem;
  width: 20rem;
  margin: 20% auto;
  display: flex;
  padding: 1rem;

  }
  .header {
    text-align: center;
  }

  .header-login {
    background-color: #002e5d;
    color: white;
  }
  .login-form {
    margin: 1rem 0;
  }
  .btn-primary {
    background-color: #002e5d;
    border: #002e5d 1px solid;
  }
  .btn-primary:hover {
    background-color: #1C4C96;
    /* border: whitesmoke 1px solid; */
  }
