<div class="header-login d-flex justify-content-between">
  <img src="/assets/larp.png" alt="larp-logo" class="larp"> 
  <h4 class="titulo texto-movil">LARP TRANSPORT</h4>
  <div class="">
  </div> 
</div>

<div class="body-login">
  <div class="row login custom-font">
    <form [formGroup]="loginForm" (ngSubmit)="sendCredentials()">
      <div class="login-form">
        <label for="inputUsername">Usuario</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="correo@mail.com">
      </div>
      <label for="input">Contraseña</label>
      <div class="input-group mb-3">
        <input class="form-control login-form"  formControlName="password"  
          type="{{ mostrarPassword ? 'text' : 'password' }}" class="form-control" id="password"
          placeholder="Contrseña" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div (mousedown)="showPass()" (mouseup)="showPass()">
            <span *ngIf="mostrarPassword" class="material-symbols-outlined ver">
              visibility_off
            </span>
            <span *ngIf="!mostrarPassword" class="material-symbols-outlined ver">
              visibility
            </span>
          </div>
          
    </div>
      <div class="login-form">
        <button type="submit" class="btn btn-primary col-12" [disabled]="showSpiner">Login</button>
      </div>
    </form>
    <div *ngIf="showSpiner" class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <label *ngIf="badCredentials" class="err-message">Usuario y/o password incorrecto</label>
  </div>
</div>
<div class="footer  justify-content-evenly">
  <img src="/assets/larp.png" alt="larp-logo"  class="footer-image">
</div>




