
.body-login {
  height: 90vh;
  width: 100vw;
  background-image: url('../../assets/img/larp-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.login {
    background-color: #cadffb;
    border-radius: 5px;
    height: 20rem;
    width: 20rem;
    margin: 10rem auto;
    padding: 1rem;
    box-shadow: 0 0 6px 3px gray;
    }
  .header {
    text-align: center;
  }

  .header-login {
    background-color: #002e5d;
    color: white;
    /* background: rgb(37,36,64);
    background: linear-gradient(174deg, rgba(37,36,64,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    

  }
  .login-form {
    margin: 1rem 0;
  }
  .btn-primary { 
    background-color: #002e5d;
    border: #002e5d 1px solid;
    /* box-shadow: 0 0 6px 3px #1C4C96; */

  }
  .btn-primary:hover {
    background-color: #1C4C96;
    /* border: whitesmoke 1px solid; */
    /* box-shadow: 0 0 6px 3px #1C4C96; */
  }
.ver {
    margin: auto;
    border: #1C4C96 2px solid;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
    color: #1489fd;
}
.titulo {
  margin-top: 0.5em;
  font-size: 250%;
}
.larp {
  height: 5.3em;
}