<div class="container">
  <h2 class="header">HEADER</h2>
  <div class="row padre login">
    <form [formGroup]="loginForm" (ngSubmit)="sendCredentials()">
      <div class="">
        <label for="inputUsername">Usuario</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="correo@mail.com">
      </div>
      <div class="">
        <label for="input">Contraseña</label>
        <input formControlName="password"  type="password" class="form-control" id="password" placeholder="Contrseña">
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary col-12">login</button>
      </div>
    </form>
  </div>
</div>