<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="custom-font negritas instrucciones m-0 text-center" >Instrucciones Básicas / Puntos Importantes para el Cotizador Automático:</p>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div>
                    <strong>
                        <ul class="ul">
                            <li>- No cotizar piezas con largos superiores a los 14m.</li>
                            <li>- No cotizar piezas con anchos superiores a los 4.80m</li>
                            <li>- No cotizar piezas con altos superiores a los 4m.</li>
                            <li>- Si es Flatrack debes añadirle 70cm a la pieza, si en total te da más de 4.10m, solicitar cotización a los correos de siempre.</li>
                            <li>- Si son varias piezas, revisa si la sumatoria de todas te da menos de 14m y cotiza todas juntas con las medidas totales, el largo total de todas, el ancho de la pieza más ancha, el alto de la pieza más alta y el peso total de todas juntas.</li>
                            <li>- El cotizador acepta cotizar hasta 4 equipos, si se requieren más de 4 equipos deberás solicitar cotización a los correos de siempre.</li>
                            <li>- El cotizador envía el pdf a tu correo designado y a los correos de larp, donde se revisa que todo este en orden, en caso de existir algún error, te lo comunicara el equipo larp y te enviaran la cotización adecuada.</li>
                        </ul> 
                    </strong> 
                </div>  
            </div>
        </div>
    </div>
</div>

    
    <div class="row mt-5 text-center">
    <h4 class="titulos custom-font-title">Elegir Destinos</h4>
    <div class="mb-3 col-sm-12 col-md-6 custom-font">
        <label for="origen" class="form-label negritas">Origen</label>
        <select class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Veracruz,Ver.</option>
          </select>
          <p class="text-start" style="white-space: nowrap;" >Por el momento solo se hacen viajes desde Veracruz.</p>
    </div>
    <div class="mb-3 col-sm-12 col-md-6 custom-font">
        <label for="origen" class="form-label negritas ">Destino</label>
        <select class="form-select" aria-label="Default select example" [ngClass]="{'err-select':err}"
          [(ngModel)]="textoDestino" (change)="destinoElegido($event)" [disabled]="disDestino">
            <option value=""value="" disabled selected>Seleccione</option>
            <option *ngFor="let estado of destinos" [value]="estado.destino">{{estado.destino}}</option>
        </select>
        <div *ngIf="err" class="error">Seleccione una opción</div>
    </div>
</div>

<div class="d-grid justify-content-md-end custom-font">
    <button class="btn btn-primary" type="button" (click)="mostrarSegundaParteClick()">Continuar</button>
</div>
