.titulos{
    margin-top: 1em;
    
 }
 .select{
    display: flex;
    margin-bottom: 5em;
    margin: 2em;
}
.btn-primary {
    background-color: #002e5d;
    border: #002e5d 1px solid;
  }
  .btn-primary:hover {
    background-color: #1C4C96;
  }
  .rectangulo1{
    border: 1px solid red; 
    padding: 10px; 
    border-radius: 4px;
    background-color: #f5f5f5; 
}
.rectangulo2 {
  padding: 15px; 
  border: 1px solid red; 
  border-radius: 5px;
  background-color: #f5f5f5; 

}
.error {
  color: red;
  text-align: center;
  font-weight: 550;

}
.negritas {
  color: black;
  font-weight: 550;

}
.text-center {
  margin-bottom: 0.5rem;
}
