<h4 class="titulos">Elegir Caracteristicas</h4>
  <div class="row">
    <div class="mb-3 col-sm-12 col-md-12">
      <label for="origen" class="form-label">Caracteristicas</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Seleccione</option>
    <option *ngFor="let elegir of caracteristicas" value="elegir.descripcion">{{elegir.descripcion}}</option>
  </select>
  </div>
</div>

<div class="d-grid justify-content-md-end">
    <button class="btn btn-primary" type="button">Continuar</button>
</div>