<h4 class="titulos">Elegir Caracteristicas</h4>
<div class="row">
   <div class="mb-3 col-sm-12 col-md-6">
      <label for="origen" class="form-label">Caracteristicas</label>
   <select class="form-select"   (change)="changeCaracteristicas($event)">
     <option value="" disabled selected>Seleccione</option>
     <option *ngFor="let elegir of caracteristicas" [value]="elegir.descripcion">{{elegir.descripcion}}</option>
   </select>
   </div>
   <div class="mb-3 col-sm-12 col-md-6">
    <p for="origen" class="mt-1">Caracteristicas</p>
      Peso maximo
      {{opcionSeleccionada}}    
      / Altura Total Maxima 4.70 contando remolque / Largo Total no excede los 15m de prueba
 </div>
</div>
<div class="row">
   <div class="mb-3 col-sm-12 col-md-6">
     <label for="operadores" class="form-label">Operadores</label>
     <select class="form-select" (change)="elegirpiloto($event)">
      <option value="" disabled selected >Seleccione</option>
      <option *ngFor="let opcion of catalogoPilotos" [value]="opcion.pilotos">{{opcion.pilotos}}</option>
     </select>
   </div>
   <div class="mb-3 col-sm-12 col-md-6">
    <p for="origen" class="mt-1">Operadores</p>
      {{piloto}}    
  </div>
 </div>

<div class="d-grid justify-content-md-end mt-3">
    <button type="button" class="btn btn-primary"  (click)="mostrarResumen()">Continuar</button>
</div>