.titulo {
    background-color: #002e5d;
    height: 4.5em;
    color: white;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    border-bottom: red 2px solid;
    box-shadow: 0px 4px 5px gray;
    z-index: 5;
}
.subtitulo {
    margin-left: 1em;
}
.Bienvenido {
    margin-right: 1em;
}
.fondo {
    background-color: #e9ecef;
    margin: 0; 
    padding: 0; 
    height: 100%;
    width: 100%;
    min-height: 100vh;

}
.container {
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}
.subtitulo2 {
    margin-top: 3em;
    font-size: 16px;
}


