<div class="titulo d-flex justify-content-between ">
  <img src="/assets/larp.png" alt="larp"  > 
  <div class="subtitulo-home">
    <p class="subtitulo2">25 Años de Experiencia Transportando Cargas</p>
    <p class="subtitulo2">a Todo México</p>
  </div>
    
   <div class="d-grid">
    <div class="d-flex justify-content-between">
        <p class="ms-auto Bienvenido">¡Bienvenido! Victor Silva</p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger btn-sm " type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</div>

  </div>
  

  
  
  
  
  

<div class="fondo">
  <div class="container">
    <app-elegir-destino></app-elegir-destino>
    <app-elegir-caracteristicas *ngIf="destino"></app-elegir-caracteristicas>
    <app-resumen *ngIf="resumen"></app-resumen>
  </div>
</div>

<button class="btn btn-primary" (click)="descargarPDF()">DescargarPDF</button>


